<%- include('./layouts/header') %>

<h1 class="title">Role Based Access Control</h1>
<div class="tutorial-info">
  <ol class="tutorial-info">
    <h4>This is assignment for VRV Security</h4>
  </ol>
</div>
<h4>You are in the home page</h4>

<%- include('./layouts/footer') %>
